// src/wing/_buttons.scss
//
// This file contains the variables and styles for button classes.
//
// Usage:
//
//   * Add the `.button` class to an anchor element to get the styling.
//

// Variables for the amount of padding of the buttons

$base-00: #181818;
$base-01: #282828;
$base-02: #383838;
$base-03: #585858;
$base-04: #b8b8b8;
$base-05: #d8d8d8;
$base-06: #e8e8e8;
$base-07: #f8f8f8;
$base-08: #ab4642;
$base-09: #dc9656;
$base-0a: #f7ca88;
$base-0b: #a1b56c;
$base-0c: #86c1b9;
$base-0d: #7cafc2;
$base-0e: #ba8baf;
$base-0f: #a16946;

$base-line-height: 1.6875rem;
$btn-border: 0.1875rem;
$btn-padding-x: $base-line-height - $btn-border !default;
$btn-padding-y: ($base-line-height / 2) - $btn-border !default;

// Button structure
//
// 1. Multiple buttons should be able to be placed next to each other.
// 2. Buttons of different sizes should have centers aligned.
// 3. Anchor buttons should not have underlined text.
// 4. Buttons don't wrap their whitespace
// 5. The user's cursor should turn into a pointer when hovering.
// 6. A button's text should increase with the page font-size.

.button {
  display: inline-block; // 1
  padding: $btn-padding-y $btn-padding-x;
  border: $btn-border $base-01 solid;
  vertical-align: middle; // 2
  text-align: center;
  text-decoration: none; // 3
  white-space: nowrap; // 4
  cursor: pointer; // 5
  zoom: 1; // 6
  color: $base-01;
  line-height: $base-line-height;
  margin: $base-line-height 0;
}

// On hover and focus, buttons invert their colors.

.button-hover,
.button:hover,
.button:focus {
  background: $base-01;
  color: $base-07;
}

// Focussed buttons don't have an outline. That cocks up the page layout.

.button:focus {
  outline: 0;
}

// Firefox: Get rid of the inner focus border

.button::-moz-focus-inner{
  padding: 0;
  border: 0;
}

.button.primary {
  color: $base-0d;
  border: $btn-border $base-0d solid;
}
.button.primary-hover,
.button.primary:hover,
.button.primary:focus {
  background: $base-0d;
  color: $base-07;
  border: $btn-border $base-0d solid;
}
.button.succes {
  color: $base-0b;
  border: $btn-border $base-0b solid;
}
.button.succes-hover,
.button.succes:hover,
.button.succes:focus {
  background: $base-0b;
  color: $base-07;
  border: $btn-border $base-0b solid;
}
.button.danger {
  color: $base-08;
  border: $btn-border $base-08 solid;
}
.button.danger-hover,
.button.danger:hover,
.button.danger:focus {
  background: $base-08;
  color: $base-07;
  border: $btn-border $base-08 solid;
}
