// This file contains the CSS for the button elements in the user interface.
//
// First, we declare the structural elements of the buttons, which includes
// the line-height, vertical alignment, text-alignment and the like.
//
// Afterwards we handle the aesthetic qualities and that kind of stuff.

// Button structure
//
// 1. Multiple buttons should be able to be placed next to each other.
// 2. Buttons of different sizes should have centers aligned.
// 3. `a.btn`s should not have underlined text.
// 4. Buttons don't wrap their whitespace
// 5. The user's cursor should turn into a pointer when hovering.

.w-btn {
  display: inline-block; // 1
  padding: 10px 20px;
  border: 3px #333 solid;
  vertical-align: middle; // 2
  text-align: center;
  text-decoration: none; // 3
  white-space: nowrap; // 4
  cursor: pointer;
  zoom: 1;
}

// On hover and focus, `btn`s invert their colors.

.w-btn-hover,
.w-btn:hover,
.w-btn:focus {
  background: #333;
  color: #fff;
}

// A large `btn` has extra padding and an increased font size.

.w-btn-large {
  padding: 15px 30px;
  font-size: 1.25em;
}

// Focussed buttons don't have an outline. That cocks up the page layout.

.w-btn:focus {
  outline: 0;
}

// Firefox: Get rid of the inner focus border

.w-btn::-moz-focus-inner{
  padding: 0;
  border: 0;
}
