// FIXME: move to non Google Font hosting
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  font-family: 'Fira Sans';
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0 auto;
}
h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin: $h1-margin-top 0 $h1-margin-bottom 0;
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin: $h2-margin-top 0 $h2-margin-bottom 0;
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin: $h3-margin-top 0 $h3-margin-bottom 0;
}
h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  margin: $h4-margin-top 0 $h4-margin-bottom 0;
}
h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-height;
  margin: $h5-margin-top 0 $h5-margin-bottom 0;
  font-weight: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}
h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-height;
  margin: $h6-margin-top 0 $h6-margin-bottom 0;
  font-weight: normal;
  font-style: italic;
}
p,
ul,
blockquote {
  max-width: $measure;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
p {
  margin: 0;
}
p + p {
  margin-top: $base-line-height;
}
code,
pre {
  font-family: 'Ubuntu Mono';
  font-size: $base-font-size;
  line-height: $base-line-height;
}
pre {
  background-color: $base-02;
  color: $base-06;
  border: 3px $base-05 solid;
  padding: 24px;
  margin: $base-line-height 0;
}
code {
  display: inline-block;
  font-family: 'Ubuntu Mono';
  font-size: $base-font-size - 0.2rem;
  line-height: $base-line-height - 0.2rem;
  background: $base-02;
  color: $base-06;
  padding: 0 0.3em;
}
pre code {
  display: block;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
kbd {
  display: inline-block;
  font-family: 'Ubuntu Mono';
  font-size: $base-font-size - 0.2rem;
  line-height: 1;
  background: $base-03;
  color: $base-06;
  padding: 0.2em 0.3em 0 0.3em;
  border-bottom: 5px $base-00 solid;
}
ul {
  margin: $base-line-height 0;
}
